body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
}

#board {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  border: 4px solid #000;
}

.square {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  cursor: pointer;
}

.white {
  background-color: #eee;
}

.black {
  background-color: #444;
  color: #fff;
}

.selected {
  outline: 3px solid yellow;
}

.highlight {
  outline: 3px solid green;
}
